In [127]:
import pandas as pd
import networkx as nx
import numpy as np
import json
from collections import defaultdict


pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [285]:
events = pd.read_json('events\events_World_Cup.json')
matches = pd.read_json('matches\matches_World_Cup.json')
teams = pd.read_json('teams.json')

In [123]:
def load_public_dataset(tournament='World_Cup'):
    """
    Load the json files with the matches, events, players and competitions
    
    Parameters
    ----------
    data_folder : str, optional
        the path to the folder where json files are stored.
        
    tournaments : list, optional
        the list of tournaments to load. 
        
    Returns
    -------
    tuple
        a tuple of four dictionaries, containing matches, events, players and competitions
        
    """
    # loading the matches and events data
    matches, events = {}, {}
    with open('events/events_%s.json' %tournament) as json_data:
        events = json.load(json_data)
    with open('matches/matches_%s.json' %tournament) as json_data:
        matches = json.load(json_data)
    
    match_id2events = defaultdict(list)
    match_id2match = defaultdict(dict)
    for event in events:
        match_id = event['matchId']
        match_id2events[match_id].append(event)
                                         
    for match in matches:
        match_id = match['wyId']
        match_id2match[match_id] = match

    # loading the players data
    with open('players.json') as json_data:
        players = json.load(json_data)
    
    player_id2player = defaultdict(dict)
    for player in players:
        player_id = player['wyId']
        player_id2player[player_id] = player
    
    # loading the competitions data
    teams={}
    with open('teams.json') as json_data:
        teams = json.load(json_data)
    team_id2team = defaultdict(dict)
    for team in teams:
        team_id = team['wyId']
        team_id2team[team_id] = team
    
    return match_id2match, match_id2events, player_id2player, team_id2team

In [128]:
match_id2match, match_id2events, player_id2player, team_id2team = load_public_dataset()

In [96]:
events.head()

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,ev_success
0,8,Simple pass,[{'id': 1801}],122671,"[{'y': 50, 'x': 50}, {'y': 53, 'x': 35}]",2057954,Pass,16521,1H,1.656214,85,258612104,1.0
1,8,High pass,[{'id': 1801}],139393,"[{'y': 53, 'x': 35}, {'y': 19, 'x': 75}]",2057954,Pass,16521,1H,4.487814,83,258612106,1.0
2,1,Air duel,"[{'id': 703}, {'id': 1801}]",103668,"[{'y': 81, 'x': 25}, {'y': 83, 'x': 37}]",2057954,Duel,14358,1H,5.937411,10,258612077,1.0
3,1,Air duel,"[{'id': 701}, {'id': 1802}]",122940,"[{'y': 19, 'x': 75}, {'y': 17, 'x': 63}]",2057954,Duel,16521,1H,6.406961,10,258612112,0.0
4,8,Simple pass,[{'id': 1801}],122847,"[{'y': 17, 'x': 63}, {'y': 15, 'x': 71}]",2057954,Pass,16521,1H,8.562167,85,258612110,1.0

In [297]:
#fazer o mesmo do df das redes para esse aqui (criar df com features)

df = matches[['wyId']]
df = df.rename(columns={'wyId':'matchID'})

#colocar team1 e team2
home_l = []
away_l = []

for match in matches['teamsData']:
    t0 = list(match.values())[0]
    t1 = list(match.values())[1]

    if t0['side'] == 'home':
        home_l.append(t0['teamId'])
        away_l.append(t1['teamId'])  
    else: 
        away_l.append(t0['teamId'])
        home_l.append(t1['teamId'])

df['team1_ID'] = home_l
df['team2_ID'] = away_l

df.head()

   matchID  team1_ID  team2_ID
0  2058017      4418      9598
1  2058016      5629      2413
2  2058015      9598      2413
3  2058014      4418      5629
4  2058012     14358      9598

In [287]:
df.shape

(64, 3)

In [288]:
# adaptando coluna 'tags' para conseguir interpretar se evento foi bem sucedido ou n√£o. 'id' = 1801 ou 1802
def converting_tags(aux):
    new = pd.Series()
    try:
        new = list(aux[-1].values())[0]
    except IndexError:
        return None

    return new

events['ev_success'] = events['tags'].map(converting_tags)
events['ev_success'] = events['ev_success'].replace([1801, 1802], [1, 0])

C:\Users\eduar\AppData\Local\Temp/ipykernel_26556/1204512734.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  new = pd.Series()

In [289]:
#contar quantos subEvents = 'Save attempt' com tag = 1801(ev_success = 1) para todos os (match, team)

a = events[(events['subEventName'] == 'Save attempt') & events['ev_success'] == 1].groupby(['matchId', 'teamId']).agg({'eventId':['count']})
a.columns = a.columns.droplevel(0)
a = a.reset_index().rename(columns={'count':'gk_saves'})
a.head()

   matchId  teamId  gk_saves
0  2057954   16521         1
1  2057955   15670         3
2  2057955   16129         1
3  2057956   16129         1
4  2057957   15670         3

In [298]:
df = df.merge(a, how='left', left_on=['matchID', 'team1_ID'], right_on=['matchId', 'teamId']).drop(['matchId', 'teamId'], axis=1)
df = df.merge(a, how='left', left_on=['matchID', 'team2_ID'], right_on=['matchId', 'teamId']).drop(['matchId', 'teamId'], axis=1)

df = df.rename(columns={"gk_saves_x": "gk_saves_T1", "gk_saves_y": "gk_saves_T2"})

df = df.fillna(0)
df

    matchID  team1_ID  team2_ID  gk_saves_T1  gk_saves_T2
0   2058017      4418      9598          0.0          2.0
1   2058016      5629      2413          5.0          0.0
2   2058015      9598      2413          0.0          3.0
3   2058014      4418      5629          1.0          1.0
4   2058012     14358      9598          1.0          5.0
5   2058013      7047      2413          0.0          0.0
6   2058011      6380      5629          1.0          5.0
7   2058010     15670      4418          0.0          1.0
8   2058009     12430      2413          1.0          3.0
9   2058008      7047      6697          3.0          0.0
10  2058007      5629     12913          3.0          2.0
11  2058006      6380     15473          1.0          2.0
12  2058005      9598      7712          0.0          5.0
13  2058004      1598     14358          0.0          3.0
14  2058002     15670      9905          3.0          1.0
15  2058003      4418     12274          1.0          0.0
16  2057994      2413      5629          2.0          0.0
17  2057995     17929     16276          0.0          3.0
18  2058000     12913     13869          0.0          3.0
19  2058001     19314     12430          0.0          2.0
20  2057982     17322      6380          1.0          0.0
21  2057983      6697     16871          4.0          0.0
22  2057989     15473      7047          2.0          2.0
23  2057988     14855      3148          2.0          3.0
24  2057976     16823     12274          1.0          1.0
25  2057977      7839      9598          0.0          2.0
26  2057971      8493     15594          1.0          0.0
27  2057970      7712      4418          4.0          1.0
28  2057965      1598     16216          0.0          1.0
29  2057964     10840      9905          1.0          0.0
30  2057959     16521     16129          0.0          2.0
31  2057958     15670     14358          0.0          3.0
32  2057998     13869     12430          0.0          1.0
33  2057999     12913     19314          4.0          1.0
34  2057993      2413     17929          0.0          0.0
35  2057986      3148      7047          2.0          2.0
36  2057987     14855     15473          1.0          4.0
37  2057992      5629     16276          3.0          4.0
38  2057981     17322      6697          1.0          1.0
39  2057975     16823      7839          2.0          2.0
40  2057980      6380     16871          0.0          5.0
41  2057974     12274      9598          0.0          1.0
42  2057968      4418     15594          1.0          0.0
43  2057969      7712      8493          1.0          4.0
44  2057963     10840      1598          2.0          0.0
45  2057957     15670     16521          3.0          2.0
46  2057962      9905     16216          2.0          0.0
47  2057956     14358     16129          0.0          1.0
48  2057996     13869     19314          0.0          3.0
49  2057997     12430     12913          1.0          1.0
50  2057991     16276      2413          2.0          0.0
51  2057990      5629     17929          2.0          0.0
52  2057985      7047     14855          0.0          1.0
53  2057978      6380      6697          1.0          3.0
54  2057984      3148     15473          2.0          8.0
55  2057979     16871     17322          2.0          1.0
56  2057973      9598     16823          2.0          0.0
57  2057967     15594      7712          1.0          1.0
58  2057972     12274      7839          0.0          5.0
59  2057966      4418      8493          0.0          2.0
60  2057960      9905      1598          2.0          0.0
61  2057961     16216     10840          0.0          1.0
62  2057955     16129     15670          1.0          3.0
63  2057954     14358     16521          0.0          1.0